@import "_variables.sass"

.display-none
    display: none

section#a-propos

    height: fit-content
    display: flex
    flex-direction: column
    align-items: center

    #list-jobs
        display: grid
        grid-template-columns: 1fr
        grid-gap: 10px
        justify-items: center

        .flex-col-center
            display: flex
            flex-direction: column
            align-items: center

        .box
            display: flex
            flex-direction: row
            align-items: flex-start
            user-select: none

        .year
            color: $orange
            font-size: 1rem
            padding: 0px

        .bullet
            background-color: $orange
            width: $rayon-bulle
            height: $rayon-bulle
            border-radius: 50%
            z-index: 10
            margin: 0.5rem

        .line
            background-color: $blanc
            width: 2px
            height: 80px

        .job-card
            background-color: $blanc
            border-radius: $radius-card
            border: 2px solid $orange
            color: $noir
            height: 10%
            width: 300px
            margin: 0.5rem
            padding: 0.5rem

            div.btnCompagny
                display: flex
                flex-direction: row
                justify-content: space-between

                img
                    object-fit: cover
                    width: 100%
                    height: 100%

                .btnjobs
                    display: flex
                    flex-direction: column
                    align-items: center
                    align-content: center
                    width: 30px
                    height: 30px
            h3
                font-size: 1rem
                color: $orange
                display: inline-block
            p
                font-size: 1rem
                padding: 0px

            ul
                flex-direction: column
                list-style-type: none
